* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #343434;
    color: #333;
    position: relative;
}
.app {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
}
.main-app {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 10px;
    overflow: hidden;
}
.chat-log {
    display: flex;
    padding: 15px;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    color: #000000;
}
.message {
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 70%;
}
.message.user {
  align-self: flex-end;
  background-color: #d1e7ff;
}
.message.ai {
  align-self: flex-start;
  background-color: #e2e2e2;
}
.celia-panel {
  padding: 300px;
  border-left: 1px solid #ddd;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-top: 20px;
}
.avatar img {
  position: relative;
  width: 120px;
  border-radius: 50%;
  margin: 20px;
  left: 20px;
}
.app-footer {
  
  padding: 12px;
  border-top: 1px solid #ddd;
  background-color: #bd3c3c;
}
.input-area {
  padding: 10px;
  gap: 10px;
  
  
}
.input-form {
  display: flex;
  gap: 10px;
}
.input-form input {
  flex: 1;
  padding: 10px;
}
.input-form button {
  padding: 10px 16px;
  cursor: pointer;
}
.Ai-Status {
  margin-top: 30px;
  font-size: 14px;
  color: #efefef;
  
}